---
import Layout from "../../layouts/Layout.astro";

import HeaderSmall from "../../components/HeaderSmall.astro";

const title = "Project 3";
const subtitle = "Project 3 info";
---

<Layout title="Project 3">
  <div>
    <HeaderSmall title={title} subtitle={subtitle} />
  </div>
  <main>
    <div class="mb-12">
      <div class="">
        <p> hi,this is the project</p>
      </div>
      <p class="dark:text-white">Some info here...</p>
    </div>
  </main>
</Layout>

<style></style>
