---
import Layout from "../../layouts/Layout.astro";

import HeaderSmall from "../../components/HeaderSmall.astro";
import Video from "../../components/Video.astro";
import Heading from "../../components/Heading.astro";

const title = "Project 2";
const subtitle = "Project 2 info";
---

<Layout title="Project 2">
  <div>
    <HeaderSmall title={title} subtitle={subtitle} />
  </div>
  <main>
    <div class="mb-12">
      <Heading heading="Gameplay Video" />
      <Video
        youtube="https://www.youtube.com/embed/pchpLZZUKr8?si=12CcPgunA8CB0iAX"
      />
    </div>
  </main>
</Layout>

<style></style>
