---
import Heading from "./Heading.astro";

const heading = "What I've been up to";
const dates = [  "2024 Sep - Present","2022 Jul - 2024 Mar","2018 Sep -2022 May"];
const info = [
  "MSc Computer Games Programming (Goldsmiths University, London)",
  "Game Publishment Speciallist (Meow Games, Guangzhou )",
  "BA Information Technology, Specialization in Game Development (Rutgers University, New Jersy)",
  
];
const details = [
  "",
  "",
  "",
];
---

<Heading heading={heading} />
<div class="mb-12 px-8">
  <ol class="relative border-l border-gray-200 dark:border-gray-700">
    {
      dates.map((date) => {
        return (
          <li class="mb-10 ml-4">
            <div class="absolute w-3 h-3 bg-primary rounded-full mt-1.5 -left-1.5 border border-white " />
            <time class="mb-1 text-sm font-normal leading-none text-primary dark:text-white">
              {date}
            </time>
            <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
              {info[dates.indexOf(date)]}
            </h3>
            <p class="mb-4 text-base font-normal text-gray-700 dark:text-gray-400">
              {details[dates.indexOf(date)]}
            </p>
          </li>
        );
      })
    }
  </ol>
</div>
